@keyframes blink-scale {
  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
}

.animate-blink-scale {
  animation: blink-scale 1s infinite;
}